<!DOCTYPE html>
<html lang="en">
<head>
  <%= render "head" , metadata: site.metadata, title: resource.data.title %>
</head>
<body class="layout-post <%= resource.data.layout %> <%= resource.data.page_class %>">
  <%= render Shared::Navbar.new(metadata: site.metadata, resource: resource) %>
    <div class="site-content">
      <div class="container">
        <div class="mainheading">
          <p class="lead">
            larsp’s personal site
          </p>
        </div>
        <div class="main-content">
          <%= yield %>
        </div>
      </div>
      <footer class="footer">
        <%= render "footer" , metadata: site.metadata %>
      </footer>
    </div>
</body>
</html>
