<!DOCTYPE html>
<html lang="en">

<head>
  <%= render "head" , metadata: site.metadata, title: resource.data.title %>
</head>

<body class="layout-post <%= resource.data.layout %> <%= resource.data.page_class %>">

  <%= render Shared::Navbar.new(metadata: site.metadata, resource: resource) %>
    <div class="site-content">

      <div class="container">

        <div class="mainheading">
          <p class="lead">
            larsp’s personal site
          </p>
        </div>

        <div class="main-content">
          <%= yield %>
        </div>

      </div>

      <footer class="footer">
        <%= render "footer" , metadata: site.metadata %>
      </footer>

    </div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
